{% extends 'bootstrap3_base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
<link href="{% static 'css/base.css'%}" rel="stylesheet">
{% endblock %}

{% block bootstrap3_title %}
    GSW
{% endblock %}

{% block bootstrap3_content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="{% url 'home' %}">Gas Station Watcher</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% block navbar %}
            <li><a href="{% url 'vehicles' %}">Vehicles</a></li>
              {% endblock %}
              {% if user.is_authenticated %}
            <li><a href="{% url 'account_logout' %}">Sign out</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">Sign in</a></li>
            <li><a href="{% url 'account_signup' %}">Sign up</a></li>
            {% endif %}

          </ul>
        </div>
          <!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>

{% endblock %}