{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
    <div class="background-pic clearfix">
        <div class="row text-center home-container">
            <div class="col-md-12 h1"><abbr title="Gas Station Watcher" class="initialism">G.S.W.</abbr></div>
            <div class="col-md-12 small">Search vehicles which <br>did not paid for oil</div>
            <div class="col-md-12">
                {% bootstrap_button "Next" button_type="button" button_class="btn-primary" href="/accounts/login/" size="large" %}
            </div>
        </div>
    </div>
{% endblock %}