{% extends 'base.html' %}

{% load bootstrap3 %}

{% block navbar %}
<li class="active"><a href="{% url 'vehicles' %}">Vehicles</a></li>
{% endblock %}


{% block content %}
<div class="h1">Vehicles</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>
                    registration number
                </th>
            </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicle_list %}
            <tr>
                <td> {{ forloop.counter }}</td>
                <td>{{ vehicle.registration_number }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr>

    {% bootstrap_pagination vehicle_list url="/pagination?page=1&flop=flip" extra="q=foo" size="small" %}

{% endblock %}